{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container my-3 px-2 align-items-center justify-content-center col-md-7">
    <h1 class="text-center">SOBRE NOSOTROS</h1>
    <img src="{% static 'img/logo.png' %}" class="Nosotros_imagen my-3 mx-5 align-items-center" width="240px">
    <div class="card">
        <div class="card-header pb-3" id="Collapse1">
            <a class="card-title lead collapsed" data-bs-toggle="collapse" href="#collapseExample" role="tabpanel" aria-expanded="false" aria-controls="collapseExample"
            style="text-decoration:none; color:rgb(118, 147, 135);">
                <b>Nosotros</b>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card-content card-body">
                    <p>
                        Nuestra tienda comenzó como el sueño de un amante de las plantas. 
                        Su pasión por la naturaleza lo llevó a crear una marca dedicada a expandir el acceso a una variedad de plantas para todos los posibles entusiastas. 
                        Con la apertura de nuestra tienda, nuestro objetivo es claro: queremos 
                        que todos puedan disfrutar del maravilloso mundo de las plantas.
                    </p>
                    <p>
                        Creemos que las plantas no solo son una forma de embellecer nuestros espacios, sino también una manera de conectar con la naturaleza, mejorar nuestro entorno
                        y vivir experiencias únicas. Nos dedicamos a ofrecer lo mejor en plantas, macetas y accesorios, creando espacios donde todos, desde los
                        más novatos hasta los más expertos, puedan encontrar algo que les apasione.
                    </p>
                    <p style="text-align: center; text-indent:0px;">
                        ¡Únete a nosotros y descubre un mundo de naturaleza y tranquilidad sin límites!
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="card-header pb-3" id="Collapse2">
            <a class="card-title lead collapsed" data-bs-toggle="collapse" href="#collapse2" role="tabpanel" aria-expanded="false" aria-controls="collapse2"
            style="text-decoration:none; color:rgb(118, 147, 135);">
                <b>Misión</b>
            </a>
            <div class="collapse" id="collapse2">
                <div class="card-content card-body">
                    <p>
                        Nuestra misión es clara y apasionante: entregar productos de jardinería de calidad a precios justos. 
                        Nos dedicamos a ofrecer una amplia gama de productos que incluyen plantas, macetas y accesorios de jardinería, 
                        todos seleccionados con el máximo cuidado para garantizar la mejor experiencia.
                    </p>
                    <p>
                        Creemos firmemente en la importancia de la experiencia del usuario. Por ello, contamos con un excelente 
                        servicio de atención al cliente, dispuesto a ayudar y asesorar a nuestros clientes en todo momento. Nos
                        esforzamos por proporcionar servicios de calidad para gente de calidad, asegurando que cada interacción 
                        y cada compra sean satisfactorias y placenteras.
                    </p>
                        
                    <p>
                        Nuestro compromiso es hacer que cada amante de las plantas, desde el más novato hasta el más experto, se sienta valorado 
                        y pueda disfrutar al máximo del maravilloso mundo de la jardinería.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
