{% extends "layouts/base.html"%} 
{% block content %}
<div class="container mt-5">
  <h2>Proceso de Pago</h2>

  <div class="row">
    <div class="col-md-6">
      <h3>Tus Productos</h3>
      <div id="carrito"></div>
    </div>

    <div class="col-md-6">
      <h3>Dirección de Envío</h3>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input
          type="text"
          class="form-control"
          id="direccion"
          placeholder="Escribe tu dirección"
        />
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="envioRapido" />
        <label class="form-check-label" for="envioRapido"> Envío Rápido </label>
      </div>

      <div class="form-group mt-3">
        <label for="metodoPago">Método de Pago</label>
        <select class="form-control" id="metodoPago">
          <option value="tarjeta">Tarjeta de Crédito</option>
          <option value="paypal">PayPal</option>
          <option value="efectivo">Pago en Efectivo</option>
        </select>
      </div>

      <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Realizar Pago
      </button>
       </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div>
          Lo estamos redirigiendo a la web de pago
        </div>
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="text-decoration-none text-center" href="{% url 'catalogo' %}" >Cliquea en caso de no haber redireccionado</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
